/* Shoe Store  */

* {
    margin: 0;
}

.header {
    text-align: center;
    font-family: sans-serif;
    color: black;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #f7f7f7;
    border-style: 5px solid black;
    line-height: 1.4;

}

.frame {
    border: 5px solid black;
}

.cost {
    font-size: 24px;
    font-weight: bold;
}

.shipping {
    text-transform: uppercase;
    font-size: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #858383;
}

.description {
    font-family:Arial, Helvetica, sans-serif;
}

.more-info:link, .more-info:visited {
    color: black;
}

.more-info:hover, .more-info:active {
color: black;
text-decoration: none;
}

button {
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border: none;
}

ul {
    list-style-type: square;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.frame {
    width: 825px;
    height: auto;
    /* margin: 0 auto;
    margin-top: 45px;
    margin-bottom: auto; */
    /* margin-top: 35px; */
    margin: 40 auto;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cost {
    padding-top: 5px;
}

.shipping {
    padding-bottom: 15px;
}

.description {
    line-height: 2;
}
aside {
    padding-top: 25px;
}

ul {
    padding-left: 17px;
}

li {
    line-height: 2;
}

li:first-child {
    padding-top: 15px;
}

button {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 7px
}
